@charset "UTF-8";
#header-user {
    width: 168px;
    margin-top: 22%;
    padding: 0;
}

.user-down {
    position: absolute;
    height: 0;
    width: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #fff;
    top: -6%;
    left: 74%;
    z-index: 0;
}

#header-user li {
    border: 0;
    border: 1px solid #eee;
    border-bottom: 0;
}

#header-user > li > a {
    padding: 10px 34px;
}

.nav-self {
    margin-left: 20%;
    font-family: "微软雅黑";
    font-size: 16px;
}

.nav-self li a {
    padding-left: 23px;
    padding-right: 23px;
}

.log-img {
    height: 35px;
    margin-top: -9px;
    margin-right: 5px;
    display: inline;
    margin-left: 5px;
    float: left;
}
