@charset "UTF-8";
.monitor-left {
    border-radius: 5px;
}

.monitor-left-header {
    height: 40px;
    width: 100%;
    background-color: #ccc;
    background-image: linear-gradient(top, #e6e6e1, #d0ccc7);
    background-image: -webkit-linear-gradient(top, #e6e6e6, #d9d9d9);
    border-radius: 4px 4px 0 0;
    text-align: center;
    line-height: 40px;
}

.monitor-left-content {
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.monitor-left-content ul {
    height: 29px;
    text-align: center;
}

.monitor-left-content ul li {
    width: 50%;
    margin: 0px;
    padding: 0px;
    line-height: 29px;
    background-color: #E4E4E4;
}

.monitor-left-content ul li a {
    margin: 0px;
    padding: 4px;
    outline: none;
}

.monitor-left-content ul li a:active {
    border: 0px;
}

.monitor-left-content .tab-content {
    padding: 15px;
}

.monitor-left-content .tab-content label {
    padding: 15px 15px 3px;
}

.monitor-left-content .tab-content span {
    padding: 2px 40px;
}

.monitor-left-content .tab-content hr {
    margin: 0px;
    border-color: #D4D4D4;
}

.monitor-left-content .tab-content textarea {
    background-color: #F1F1F1;
    height: 150px;
    width: 100%;
    resize: none;
}

.monitor-right {
    border-radius: 5px;

}

.monitor-right-header {
    height: 40px;
    width: 100%;
    background-color: #ccc;
    background-image: linear-gradient(top, #e6e6e1, #d0ccc7);
    background-image: -webkit-linear-gradient(top, #e6e6e6, #d9d9d9);
    border-radius: 4px 4px 0 0;
    text-align: center;
    line-height: 40px;
}

.monitor-right-header .nav-pills {
    height: 25px;
    margin-left: 40px;
    padding-top: 8px;
}

.monitor-right-header .nav-pills li {
    width: 10%;
    width: 10%;
    background-image: linear-gradient(top, #e6e6e1, #d0ccc7);
    background-image: -webkit-linear-gradient(top, #fafafa, #e5e5e5);
    border: 1px solid #d9d9d9;
    height: 24px;
    margin-left: -2px;
}

.monitor-right-header .nav-pills li.active {
    box-shadow: 0px 0px 42px #6d6b6b inset;
}

.monitor-right-header .nav-pills li:hover, li:focus {
    box-shadow: 0px 0px 42px #6d6b6b inset;
}

.monitor-right-header .nav-pills a:hover, a:focus {
    color: none;
    background: none;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: rgba(0, 0, 0, 0);
}

.monitor-right-header .nav-pills a {
    padding: 0px 25px;
    border: 0px;
    height: 25px;
    line-height: 25px;
    outline: none;

}

.monitor-right-content {
    background-color: #fff;
    padding: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.monitor-right-content #detail {
    margin: 0px;
    padding: 0px 30% 0px 0px;
}

.monitor-right-content #detail hr {
    margin: 2%;
    border-color: #D4D4D4;
}

.monitor-right-content #detail label {
    margin: 0% 10%;
}

.monitor-right-content #detail span {
    margin: 0px;
}

.monitor-right-content #log {
    padding: 1% 5%;
}

.monitor-right-content .log-content {
    width: 100%;
    background-color: #F1F1F1;
    resize: none;
}

.monitor-right-content #graph {
    padding: 1%;
}

.monitor-right-content .graph-content {
    width: 100%;
    background-color: #F7F7F7;
}

