@charset "UTF-8";
.scene-monitor {
    border-radius: 5px;
}

.scene-monitor-header {
    height: 40px;
    width: 100%;
    background-color: #ccc;
    background-image: linear-gradient(top, #e6e6e1, #d0ccc7);
    background-image: -webkit-linear-gradient(top, #e6e6e6, #d9d9d9);
    border-radius: 4px 4px 0 0;
    margin-left: 0px;
    margin-bottom: 0px;
}

.scene-monitor-header .search-underline {
    width: 50%;
    height: 30px;
    background-color: transparent !important;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.scene-monitor-header .search .ion-close {
    cursor: pointer;
    display: inline;
}

.scene-monitor-header .search .btn {
    outline: none;
    margin: 0px;
    padding: 0px;
    background-color: #ADADAD;
    box-shadow: 0px 0px 10px #9E9E9E inset;
}

.scene-monitor-header .search:hover {
    color: #7b96c0;
}

.scene-monitor-header .date-selete select {
    outline: none;
    position: relative;
    width: 100%;
    height: 22px;
    background-image: linear-gradient(top, #e6e6e1, #d0ccc7);
    background-image: -webkit-linear-gradient(top, #fafafa, #e5e5e5);
    border: 0px;
    cursor: pointer;
}

.scene-monitor-header .nav-pills {
    height: 25px;
    width: 90%;
    margin-left: 40px;
    padding-top: 9px;
}

.scene-monitor-header .nav-pills li {
    width: 10%;
    width: 10%;
    background-image: linear-gradient(top, #e6e6e1, #d0ccc7);
    background-image: -webkit-linear-gradient(top, #fafafa, #e5e5e5);
    border: 1px solid #d9d9d9;
    height: 24px;
    margin-left: -2px;
}

.scene-monitor-header .nav-pills li.active {
    box-shadow: 0px 0px 42px #6d6b6b inset;
}

.scene-monitor-header .nav-pills li:hover, li:focus {
    box-shadow: 0px 0px 42px #6d6b6b inset;
}

.scene-monitor-header .nav-pills a:hover, a:focus {
    color: none;
    background: none;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: rgba(0, 0, 0, 0);
}

.scene-monitor-header .nav-pills a {
    padding: 0px;
    border: 0px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    outline: none;

}

.scene-monitor-content {
    background-color: #fff;
    padding: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.scene-monitor-content p {
    margin: 0px;

}

.scene-monitor-content .tab-content-title {
    border-bottom: 1px solid #CACACA;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    margin-bottom: 20px;
}

.scene-monitor-content .tab-content-title p {
    float: left;

}

.scene-monitor-content .tab-content-title .allCheck {
    float: left;

}

.scene-monitor-content .tab-content-title .allCheck：hover {
    color: #339FFF;
}

.scene-monitor-content .tab-content-title span {
    cursor: pointer;
    margin-right: 5px;
    float: right;
}

.scene-monitor-content .tab-content-title span:hover {
    color: #339FFF;
}

.scene-monitor-content .tab-content-body {
    margin: 0% 3%;
}


















