@charset "UTF-8";
.user-dialog {
    margin-top: -10px;
}

.user-dialog .userTab {
    width: 786px;
    height: 45px;
    background: #ccc;
    padding-left: 20px;
    padding-top: 4px;
}

.user-dialog .userTab ul {
    border: none;
    font-size: 16px;
}

.user-dialog li.tab-header {
    float: left;
    list-style: none;
    line-height: 42px;
    text-align: center;
    width: 92px;
    margin-right: 20px;
}

.user-dialog li.tab-header:hover {
    cursor: pointer;
    color: #2E4C7A;
}

.user-dialog li.tab-header i.tab-icon {
    float: left;
    line-height: 40px;
    margin-right: 8px;
}

.user-dialog li.tab-header i {
    margin-right: 5px;
}

.user-dialog .userManger {
    height: 387px;
    padding: 15px 20px;
    margin-top: 3px;
    overflow-y: auto;
}

.user-dialog .addUserManger {
    height: 387px;
    padding: 15px 20px;
    display: none;
}

.user-dialog .userInformation {
    height: 387px;
    display: none;
}

.user-dialog .userInformation .userInfor_form input {
    background: transparent;
    box-shadow: none;
}

#user-mang-icon {
    font-size: 20px;
}


/*kenan*/

.userInformation {
    height: 387px;
    display: none;
    padding: 20px 20px;
    box-sizing: border-box;
}

.userInformation .head_img {
    position: absolute;
    left: 20%;
    top: 12%;
    border: 2px solid #ccc;
    width: 120px;
    height: 120px;
    border-radius: 50%;

}

.userInformation .userIn-left {
    position: relative;
    height: 387px;
}

.userInformation .userIn-right {
    border-left: 1px solid #ccc;
}

.userIn-left .btn-file {
    position: absolute;
    left: 24%;
    top: 48%;

}

.userIn-left .btn-file button {
    background: #2e4c7a;
    color: #fff;
    width: 105px;
    padding-left: 25%;

}

.userIn-left .user_picture {
    position: absolute;
    left: 8%;
    top: 28%;

}

.userInformation .userIn-right .changeInformation {
    box-sizing: border-box;
    margin-left: 80%;
    padding-top: 2%;
    line-height: 22px;
    width: 26px;
}

.userManger .bootstrap-table .dropdown-menu {
    left: -127%;
    right: 0;
    width: 62px;
    padding-left: 0px !important;
    min-width: 120px !important;
}

/*.userInformation .userIn-right .changeInformation i {
    margin-right: 5px;
}*/

.userInfor_form input {
    border: none;
}

.userInformation .userIn-right .changeInformation i {
    position: absolute;
    left: 73%;
    top: 3%;
}

.userInfor_form input {
    border: none;
}

.userInformation .changImg {
    cursor: pointer;
}

.userInfor_form input {
    background-color: transparent;
    height: 30px;
    border-style: none;
}

.userInfor_form textarea {
    background: transparent;
    width: 58%;
    border: none;
}

.userInformation.changImg {
    cursor: pointer;
}

.fixed-table-body .fixed-table-loading {
    height: 35px;
    line-height: 35px;
}

.fixed-table-body .fixed-table-loading .add {
    outline: none;
    border: 1px solid #D0D0D0;
    font-size: 23px;
    width: 41px;
    background-color: #ffffff;
}

.fixed-table-body .fixed-table-loading .add:hover {
    border: 1px solid #bdbdbd;
    background-color: #dfdfdf;
}

.userDialog {
    width: 800px !important;
    height: 500px !important;
    padding: 0px !important;
}

.userDialog a.xdsoft_close {
    background-color: #446087 !important;
    color: #fff !important;
}

.userDialog div.xdsoft_dialog_popup_title {
    background: #446087 !important;
    color: #fff !important;
}

.userDialog div.xdsoft_dialog_content {
    padding: 0px !important;
    height: 387px !important;
}

.userDialog div.xdsoft_dialog_buttons {
    text-align: right !important;
}

#userDes {
    resize: none;
}

<!--
编辑用户

-->
.editUser {
    margin: 2px 20px 10px 20px;
    line-height: 45px;
}

.editUser .title label {
    font-size: 20px;
}

.editUser hr {
    margin: 2px 0px 10px 0px;
}

.editUser label {
    font-size: 15px;
    margin-right: 5px;
    text-align: right;
}

.editUser span {
    font-size: 18px;

}

.editUser input[type=text] {
    width: 60%;
}

.editUser input[type=password] {
    width: 60%;
}

.editUser textarea.userDesc {
    width: 60%;
    margin: 3px;
}

.editUser input[type=radio] {
    height: 13px;
}

.editUser input[type=button] {
    height: 35px;
    width: 65px;
    bottom: -100px;
    position: relative;
    border: 1px solid #C1C1C1;
    background-color: #F1F1F1;
    display: none;
}

.editUser input[type=button]:hover {
    background-color: #D1D1D1;
}

.editUser .roleName {
    border: 1px solid #A9A9A9;
    padding: 5%;
    margin: 3px;
    width: 60%;
}

.editUser div.content {

}

<!--
添加用户

-->
.addUser {
    margin: 2px 20px 10px 20px;
    line-height: 45px;
}

.addUser .title label {
    font-size: 20px;
}

.addUser hr {
    margin: 2px 0px 10px 0px;
}

.addUser label {
    font-size: 15px;
    margin-right: 5px;
    text-align: right;
}

.addUser span {
    font-size: 18px;

}

.addUser input[type=text] {
    width: 60%;
}

.addUser input[type=password] {
    width: 60%;
}

.addUser textarea.userDesc {
    width: 60%;
    margin-top: 3px;
}

.addUser input[type=radio] {
    height: 13px;
}

.addUser input[type=button] {
    height: 35px;
    width: 65px;
    bottom: -100px;
    position: relative;
    border: 1px solid #C1C1C1;
    background-color: #F1F1F1;
}

.addUser input[type=button]:hover {
    background-color: #D1D1D1;
}

.addUser .roleName {
    border: 1px solid #A9A9A9;
    padding: 5%;
    margin: 3px;
    width: 60%;
}

.addUser div.content {

}

.no-border {
    padding: 0px !important;
    background: none !important;

}

.user-dialog-title {
    border: none !important;
    border-radius: 7px 7px 0 0;

}

.user-dialog-btns {
    padding: 8px 10px !important;
    border-radius: 0 0 7px 7px !important;
}
